@charset "iso-8859-1";

// Color definitions
$color_base: #ffffff;
$color_offbase1: #808080;
$color_offbase2: #505050;
$color_accent: #b0000e;
$color_highlight: #ffaaff;
$color_text: #202020;

// Layout definitions
$basemargin: 1em;
$basepadding: 0.5em;

// Font definitions
$font_serif: 'lora', serif;
$font_sans: 'lato-bold', sans-serif;
$font_sans_light: 'lato-light', sans-serif;

@font-face { 
  font-family: "lato-bold"; 
  src: url("/assets/fonts/lato-bold-webfont.woff"); 
} 

@font-face { 
  font-family: "lato-light"; 
  src: url("/assets/fonts/lato-light-webfont.woff"); 
} 

@font-face { 
  font-family: "lora"; 
  src: url("/assets/fonts/lora-regular-webfont.woff"); 
} 

body 	
{
  background-color: $color_base; 
  color: $color_text;
  font-family: $font_serif;
  position: relative; // So children can be absolute
  max-width: 700px;
  margin-left: auto; // Centering
  margin-right: auto;
}

h1
{
  display: inline;
  color: $color_accent;
  font-family: $font_sans;
  font-size: 20px;
}

h2
{
  font-family: $font_sans;
  font-size: 18px;
}

a
{
  color: $color_accent;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

hr
{
  color: $color_offbase1;
  background-color: $color_offbase1;
  border: 0px;
  height: 2px;
  margin-top: 1em;
  margin-bottom: 1em;
}

#header
{
  position: relative; /* So other elements can be positioned inside this */
  margin-top: 20px;
}

#title
{
  display: inline;
  color: $color_accent;
  font-family: $font_sans;
  font-weight: 700;
  font-size: 32px;
}

#nav
{
  display: inline;
  position: absolute;
  right: 0px;
  bottom: 0px; // Try to align with the title
  color: $color_offbase2;
  font-family: $font_sans_light;
  font-size: 20px;

  a {
    color: $color_offbase2;
  }

}

#subnav
{
  display: inline;
  position: absolute;
  right: 0px;
 
  color: $color_offbase2;
  font-family: $font_sans;

  a {
    color: $color_offbase2;
  }
}

#content
{
  position: relative; // So children are relative to this
  width: 100%;
  img {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  hr {
    width: 40%;
    height: 1px;
  }

  // Overrides default content layout
  .floater{
    margin-left: 30px;
    margin-bottom: 30px;
    float: right;
  }
}

.postinfo
{
  font-size: 12px;
  font-family: $font_sans;
}

#postlinks
{
  position: relative; // So children are relative to this
  font-size: 12px;
  font-family: $font_sans;
  height: 1em; // Have to reserve space since children are absolute

  .previouslink {
    position: absolute;
    left: 0px;
  }

  .nextlink {
    position: absolute;
    right: 0px;
  }
}


#footer
{
  font-size: 12px;
  font-family: $font_sans_light;
}

#socialicons
{
  display: inline;
  position: absolute;
  right: 0px;
}

