@charset "iso-8859-1";
body {
  background-color: white;
  color: #202020;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  position: relative;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto; }

h1 {
  color: #b0000e;
  font-family: "Lato";
  font-size: 20px; }

h2 {
  font-family: "Lato";
  font-size: 18px; }

a {
  color: #b0000e;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

hr {
  color: gray;
  background-color: gray;
  border: 0px;
  height: 2px;
  margin-top: 1em;
  margin-bottom: 1em; }

#title {
  display: inline;
  color: #b0000e;
  font-family: "Lato";
  font-weight: bold;
  font-size: 30px; }

#nav {
  display: inline;
  position: absolute;
  right: 0px;
  top: 1em;
  color: #505050;
  font-family: "Lato"; }
  #nav a {
    color: #505050; }

#content {
  width: 80%; }
  #content img {
    position: relative;
    left: 1em; }

.postinfo {
  font-size: 12px;
  font-family: "Lato"; }

#postlinks {
  position: relative;
  font-size: 12px;
  font-family: "Lato";
  height: 1em; }
  #postlinks .previouslink {
    position: absolute;
    left: 0px; }
  #postlinks .nextlink {
    position: absolute;
    right: 0px; }

#footer {
  font-size: 10px;
  font-family: "Lato"; }
