<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>Steven Bell :: {{ page.title }}</title>
	<link href="/assets/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id=header>
  <a href="/index.html"><div id=title>STEVEN BELL</div></a>
  <div id=nav>
    <a href="/about.html">about</a> |
    <a href="/professional.html">professional</a> | 
    <a href="/projects.html">projects</a> |
    <a href="/code.html">code</a> |
    <a href="/blog.html">blog</a>
  </div>
</div>
<hr>
<div id=content>
  {{ content }}
</div>
<hr>
<div id=footer>
Page copyright 2012 Steven Bell.  Unless otherwise noted, content is under a Creative Commons <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">by-nc-sa</a> license.
</div>

<!-- Piwik analytics code -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://botsnlinux.net/piwik/" : "http://botsnlinux.net/piwik/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://botsnlinux.net/piwik/piwik.php?idsite=2" style="border:0" alt="" /></p></noscript>

</body>
</html>
